Node-RED/Digital_Motor.json
[{"id":"762cd104.7599a","type":"tab","label":"Flow 1","disabled":false,"info":""},{"id":"28adfc18.abec74","type":"ui_switch","z":"762cd104.7599a","name":"","label":"ON/OFF Switch","tooltip":"","group":"fb2c94cf.da44d8","order":4,"width":"7","height":4,"passthru":true,"decouple":"false","topic":"","style":"","onvalue":"true","onvalueType":"bool","onicon":"","oncolor":"","offvalue":"false","offvalueType":"bool","officon":"","offcolor":"","x":140,"y":280,"wires":[["67080129.b0a2","3c597975.c7cfd6"]]},{"id":"6178c480.92137c","type":"s7 in","z":"762cd104.7599a","endpoint":"58fc85e1.be561c","mode":"single","variable":"speed_rpm","diff":false,"name":"","x":130,"y":631,"wires":[["2e48f84a.899bc8"]]},{"id":"92fb69b6.c9eee8","type":"s7 out","z":"762cd104.7599a","endpoint":"58fc85e1.be561c","variable":"speed_%","name":"speed_write","x":750,"y":411,"wires":[]},{"id":"67080129.b0a2","type":"s7 out","z":"762cd104.7599a","endpoint":"58fc85e1.be561c","variable":"start","name":"ON/OFF S7","x":340,"y":280,"wires":[]},{"id":"2c4e6db4.4eb122","type":"ui_gauge","z":"762cd104.7599a","name":"","group":"49a8d16c.4e7f4","order":2,"width":"7","height":5,"gtype":"gage","title":"Speed %","label":"%age","format":"{{value}}","min":"-100","max":"100","colors":["#00b500","#e6e600","#ca3838"],"seg1":"","seg2":"","x":450,"y":471,"wires":[]},{"id":"26dd62dc.0f7a6e","type":"ui_text_input","z":"762cd104.7599a","name":"","label":"Speed_Controller","tooltip":"","group":"49a8d16c.4e7f4","order":5,"width":6,"height":1,"passthru":false,"mode":"number","delay":300,"topic":"","x":160,"y":411,"wires":[["4ef2bd70.f30a94"]]},{"id":"2e48f84a.899bc8","type":"ui_gauge","z":"762cd104.7599a","name":"","group":"da25f70.3997808","order":1,"width":"8","height":"8","gtype":"gage","title":"Speed RPM","label":"RPM","format":"{{value}}","min":"-1500","max":"1500","colors":["#00b500","#e6e600","#ca3838"],"seg1":"","seg2":"","x":400,"y":631,"wires":[]},{"id":"5a2eaca6.1c3634","type":"s7 in","z":"762cd104.7599a","endpoint":"58fc85e1.be561c","mode":"single","variable":"speed_%","diff":false,"name":"","x":130,"y":471,"wires":[["2c4e6db4.4eb122"]]},{"id":"fe978915.e53828","type":"s7 in","z":"762cd104.7599a","endpoint":"58fc85e1.be561c","mode":"single","variable":"Current","diff":false,"name":"","x":120,"y":711,"wires":[["b179a2d8.ee629"]]},{"id":"784ca7ba.735428","type":"s7 in","z":"762cd104.7599a","endpoint":"58fc85e1.be561c","mode":"single","variable":"Power","diff":false,"name":"","x":120,"y":791,"wires":[["9b81b138.3f2c"]]},{"id":"8f5bed9f.72227","type":"ui_led","z":"762cd104.7599a","group":"fb2c94cf.da44d8","order":3,"width":1,"height":1,"label":"","labelPlacement":"left","labelAlignment":"right","colorForValue":[{"color":"red","value":"false","valueType":"bool"},{"color":"green","value":"true","valueType":"bool"}],"allowColorForValueInMessage":false,"name":"","x":320,"y":231,"wires":[]},{"id":"3289674.1220498","type":"s7 in","z":"762cd104.7599a","endpoint":"58fc85e1.be561c","mode":"single","variable":"start","diff":false,"name":"","x":120,"y":231,"wires":[["8f5bed9f.72227","28adfc18.abec74"]]},{"id":"ac3c10e.5735ef","type":"comment","z":"762cd104.7599a","name":"Control","info":"","x":60,"y":171,"wires":[]},{"id":"a7ab115c.d8da9","type":"comment","z":"762cd104.7599a","name":"Monitor","info":"","x":61,"y":571,"wires":[]},{"id":"517929f8.d1e538","type":"ui_button","z":"762cd104.7599a","name":"","group":"49a8d16c.4e7f4","order":6,"width":1,"height":1,"passthru":false,"label":"click","tooltip":"","color":"","bgcolor":"","icon":"","payload":"speed","payloadType":"flow","topic":"value","x":550,"y":411,"wires":[["92fb69b6.c9eee8"]]},{"id":"4ef2bd70.f30a94","type":"change","z":"762cd104.7599a","name":"","rules":[{"t":"move","p":"payload","pt":"msg","to":"speed","tot":"flow"}],"action":"","property":"","from":"","to":"","reg":false,"x":370,"y":411,"wires":[["517929f8.d1e538"]]},{"id":"6b090ae9.9a1a54","type":"ui_template","z":"762cd104.7599a","group":"bba735b7.03f928","name":"Background","order":1,"width":0,"height":0,"format":"<style>\n    body {\n        background-image: url(\"/pic.jpg\");\n        background-size: 60% 80%;\n        background-repeat: no-repeat;\n          background-attachment: fixed;\n          background-position: center;\n    }\n</style>","storeOutMessages":true,"fwdInMessages":true,"resendOnRefresh":true,"templateScope":"local","x":210,"y":80,"wires":[[]]},{"id":"718034a9.85a36c","type":"comment","z":"762cd104.7599a","name":"Home","info":"","x":60,"y":23,"wires":[]},{"id":"cd2973af.7357f","type":"ui_template","z":"762cd104.7599a","group":"bba735b7.03f928","name":"Time","order":2,"width":"1","height":"1","format":"<script id=\"titleScript\" type=\"text/javascript\">\n\n$(function() {\n    if($('.md-toolbar-tools').length != 0){\n        loadClock();\n    }else setTimeout(loadClock, 500)\n});\n\nfunction loadClock(){\n    $('#clock').remove();\n    var toolbar = $('.md-toolbar-tools');\n    \n    var div = $('<div/>');\n    var p = $('<p/ id=\"clock\">');\n    \n    div.append(p);\n    div[0].style.margin = '5px 5px 5px auto';\n    toolbar.append(div);\n\n    function displayTitle(lh) {\n        p.text(lh); \n    }\n    \n    function upTime() {\n        var d = new Date();\n        p.text(d.toLocaleString());\n    }\n\n    if(document.clockInterval){ \n            clearInterval(document.clockInterval);\n            document.clockInterval = null;\n    }\n        \n    document.clockInterval = setInterval(upTime,1000);\n}\n\n</script>","storeOutMessages":true,"fwdInMessages":true,"resendOnRefresh":true,"templateScope":"global","x":190,"y":120,"wires":[[]]},{"id":"b179a2d8.ee629","type":"ui_chart","z":"762cd104.7599a","name":"Current","group":"881a7770.3f6638","order":1,"width":0,"height":0,"label":"Current Consumption w.r.t Time","chartType":"line","legend":"false","xformat":"auto","interpolate":"linear","nodata":"Amp","dot":true,"ymin":"","ymax":"","removeOlder":1,"removeOlderPoints":"","removeOlderUnit":"60","cutout":0,"useOneColor":false,"useUTC":false,"colors":["#352ad5","#aec7e8","#ff7f0e","#2ca02c","#98df8a","#d62728","#ff9896","#9467bd","#c5b0d5"],"useOldStyle":false,"outputs":1,"x":360,"y":710,"wires":[[]]},{"id":"3c597975.c7cfd6","type":"change","z":"762cd104.7599a","name":"switch","rules":[{"t":"set","p":"switchfan","pt":"flow","to":"payload","tot":"msg"}],"action":"","property":"","from":"","to":"","reg":false,"x":300,"y":331,"wires":[[]]},{"id":"f754e566.8ade68","type":"inject","z":"762cd104.7599a","name":"","topic":"","payload":"1","payloadType":"global","repeat":"1","crontab":"","once":false,"onceDelay":0.1,"x":160,"y":920,"wires":[["775636bd.38b448"]]},{"id":"de5ac22a.d01c4","type":"function","z":"762cd104.7599a","name":"Counter","func":"var COUNT='count';\n\n// initialise the counter to 0 if it doesn't exist already\nvar count = flow.get(COUNT)||0;\ncount += 1;\n// store the value back\nflow.set(COUNT,count);\n// make it part of the outgoing msg object\nmsg.count = count;\nmsg.payload = {} ;\n\nmsg.payload.count = count;\n\nnode.log(\"Received particles : \" + count);\n\nreturn msg;","outputs":1,"noerr":0,"x":490,"y":920,"wires":[["b00ca2b4.87005"]]},{"id":"775636bd.38b448","type":"switch","z":"762cd104.7599a","name":"Change","property":"switchfan","propertyType":"flow","rules":[{"t":"eq","v":"1","vt":"num"}],"checkall":"false","repair":false,"outputs":1,"x":320,"y":920,"wires":[["de5ac22a.d01c4"]]},{"id":"167ddb7f.cc7905","type":"function","z":"762cd104.7599a","name":"reset","func":"var COUNT='count';\n\n// initialise the counter to 0 if it doesn't exist already\nvar count = flow.get(COUNT)||0;\n\nmsg.count = count;\nmsg.payload = {};\nmsg.payload.ppm = count;\n\nnode.log(\"Reset counter at \" + count);\n\n// make it part of the outgoing msg object\ncount = 0;\n\n// store the value back\nflow.set(COUNT,count);\n\nreturn msg;","outputs":1,"noerr":0,"x":490,"y":880,"wires":[[]]},{"id":"c2acb5ed.e64388","type":"inject","z":"762cd104.7599a","name":"","topic":"","payload":"","payloadType":"date","repeat":"","crontab":"","once":false,"onceDelay":0.1,"x":320,"y":880,"wires":[["167ddb7f.cc7905"]]},{"id":"9b81b138.3f2c","type":"ui_chart","z":"762cd104.7599a","name":"power","group":"881a7770.3f6638","order":2,"width":0,"height":0,"label":"Power Consumption w.r.t Time","chartType":"line","legend":"false","xformat":"auto","interpolate":"linear","nodata":"W","dot":true,"ymin":"","ymax":"","removeOlder":1,"removeOlderPoints":"","removeOlderUnit":"60","cutout":0,"useOneColor":false,"useUTC":false,"colors":["#e68619","#aec7e8","#ff0f0f","#2ca02c","#98df8a","#171717","#ff9896","#9467bd","#c5b0d5"],"useOldStyle":false,"outputs":1,"x":350,"y":790,"wires":[[]]},{"id":"b00ca2b4.87005","type":"ui_text","z":"762cd104.7599a","group":"da25f70.3997808","order":3,"width":"6","height":"2","name":"Machine Run_Time","label":"Machine Run_Time","format":"{{msg.payload}} Sec","layout":"row-spread","x":690,"y":920,"wires":[]},{"id":"fb2c94cf.da44d8","type":"ui_group","z":"","name":"Status","tab":"7dec895e.3b73a8","order":1,"disp":true,"width":7,"collapse":false},{"id":"58fc85e1.be561c","type":"s7 endpoint","z":"","transport":"iso-on-tcp","address":"192.168.157.2","port":"102","rack":"0","slot":"1","localtsaphi":"01","localtsaplo":"00","remotetsaphi":"01","remotetsaplo":"00","connmode":"rack-slot","adapterauto":true,"adapterport":"","busaddr":"2","adapteraddr":"0","cycletime":"500","timeout":"1500","verbose":"default","name":"","vartable":[{"addr":"DB2,R6","name":"speed_rpm"},{"addr":"DB2,X0.0","name":"start"},{"addr":"DB2,R2","name":"speed_%"},{"addr":"DB2,R24","name":"Current"},{"addr":"DB2,R46","name":"Power"}]},{"id":"49a8d16c.4e7f4","type":"ui_group","z":"","name":"Speed_Control","tab":"7dec895e.3b73a8","order":2,"disp":true,"width":"7","collapse":false},{"id":"da25f70.3997808","type":"ui_group","z":"","name":"Monitor_Parameters","tab":"3fda6c36.cd0ff4","order":1,"disp":true,"width":"8","collapse":false},{"id":"bba735b7.03f928","type":"ui_group","z":"","name":"Default","tab":"43b072db.a9534c","order":1,"disp":false,"width":"6","collapse":false},{"id":"881a7770.3f6638","type":"ui_group","z":"","name":"Monitor_Parameters","tab":"3fda6c36.cd0ff4","order":2,"disp":true,"width":"8","collapse":false},{"id":"7dec895e.3b73a8","type":"ui_tab","z":"","name":"Control","icon":"dashboard","order":2,"disabled":false,"hidden":false},{"id":"3fda6c36.cd0ff4","type":"ui_tab","z":"","name":"Monitor","icon":"dashboard","order":3,"disabled":false,"hidden":false},{"id":"43b072db.a9534c","type":"ui_tab","z":"","name":"Home","icon":"dashboard","order":1,"disabled":false,"hidden":false}]